
#navbar2{
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #121212;
    background-color: #f2f2f2;
}

body{
    background-color: #56baed;
}

i{
    color:black;
}

i:active {
    background-color: #e6e6e6;
    transform: translateY(4px);
}

#background_div{
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    border-radius: 1%;
    
}

#save{
    background-color: #56baed;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#editor{
    margin-top: 1%;
    height: 85%;
    padding: 7%;
    overflow: auto;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    
    
}