
#navbar2{
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #121212;
}
i{
    color:white;
}

i:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);